---
layout: default
---

<div class="logo" onclick="window.location='{{ site.baseurl }}'"></div>
<p class="motto">&ldquo;Best coffee in Crosstown&rdquo;</p>

<div class="columns">
    <div class="column" id="image" style="background-image: url('{{ site.baseurl }}/images/{{ page.image }}')">
    </div>
    <div class="column">
        <h1>{{ page.title }}</h1>
        <h2 class="price">{{ page.price }}</h2> 
        <div class="content">
            {{ content }}
        </div>
    </div>
</div>
<footer>
</footer>

<script>
    let r = (Math.random() * 30) - 15;
    document.getElementById("image").style.transform = "rotate(" + r + "deg)";
</script>